<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Printing Farm</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <link rel="icon" type="img/png" href="#" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body class="centered">
        <header>
            <h1>Printing Farm</h1>
        </header>
        <main>
            <form method="post">
                <h2>Inserisci Dipendente</h2><br>
                <label>Nome<br><input type="text" name="nome"></label><br>
                <label>Cognome<br><input type="text" name="cognome"></label><br>
                <label>Email<br><input type="text" name="email"></label><br>
                <label>Password<br><input type="password" name="password"></label>
                <footer>
                    <input type="button" value="Salva"><br>
                    <input type="button" value="Indietro"><br>
                </footer>
            </form>
        </main>
    </body>
</html>