<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Printing Farm</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <link rel="icon" type="img/png" href="#" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body class="centered">
        <header>
            <h1>Printing Farm</h1>
        </header>
        <main>
            <div>
                <ul>
                    <li>Inserimento nuovo contratto di lavoro</li><br>
                    <li>Costo dipendenti per settore</li><br>
                    <li>Riepilogo contratto dipendente</li><br>
                    <li>Logout</li>
                </ul>
            </div>
        </main>
    </body>
</html>