html {
    margin: 0;
    background-image: linear-gradient(to right bottom, #A3B18A, #3A5A40);
    min-height: 100vh;
    height: 100%;
    padding: 0%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

input[value="Aggiungi Numero"] {
    margin-bottom: 25px !important;
    margin-top: 0px !important;
    font-size: 15px !important;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 85px;
    color: #283618;
    text-shadow: 4px 3px 8px #A3B18A;
    margin-top: 40px;
}

main {
    margin: 20vh 8% 5% 8%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

input[type="button"],  input[type="submit"]{
    width: 20%;
    padding: 8% 0 8% 0;
    border-radius: 100%;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: radial-gradient(#DAD7CD, #A3B18A);
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

input[value="Indietro"] {
    margin: 30px 0 30px !important;
    background: radial-gradient(#DAD7CD, #5e5e5e93) !important;
}

input[type="button"]:hover ,  input[type="submit"]:hover {
    box-shadow: 0 0 15px 15px rgba(0,0,0,0.3);
}

input[type="checkbox"] {
    width: 20px !important;
    margin-bottom: 0 !important;
}

fieldset {
    text-align: left;
}

legend {
    text-align: center;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-top: 4%;
    width: 90%;
}

select {
    margin-bottom: 7%;
    width: 93%;
    margin-top: 2%;
    padding: 5px;
    border-radius: 15px;
    border-width: 1px;
}

/* Rimuovere Frecce html type input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

option {
    margin: 0;
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

.centered main {
    justify-content: center;
    margin-top: 10vh;
}

.centered form {
    padding: 2% 5%;
    background-color: #DAD7CD;
    border-radius: 25px;
    width: 40%;
    font-family:Arial, Helvetica, sans-serif;
}

.centered h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: #283618;
    margin: 0%;
    margin-bottom: 30px;
    margin-top: 30px;;
}

.centered input {
    width: 90%;
    margin-top: 2%;
    margin-bottom: 7%;
    padding: 5px;
    border-radius: 15px;
    border-width: 1px;
}

.centered input[type="button"] , .centered input[type="submit"] {
    width: 150px;
    font-size: 22px;
    margin-top: 2%;
    margin-bottom: 0;
    background: radial-gradient(#DAD7CD,#A3B18A);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.centered input[type="button"]:hover , .centered input[type="submit"]:hover {
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
}

div {
    width: 100%;
    background-color: #DAD7CD;
    border-radius: 25px;
}


ul {
    margin-top: 5%;
    margin-bottom: 5%;
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    padding: 1%;
    width: 60%;
    margin-left: 19%;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-top: 20px;
    background: radial-gradient(#DAD7CD,#A3B18A);
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}

li:hover {
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.3);
}

img {
    max-width: 30px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}

img:hover {
    box-shadow: 3px 3px 3px grey;
    transition: 0.3s;
}

@media (max-width: 1800px) {
    main > div {
        overflow-x: scroll;
    }

    table {
        margin-left: 5%;
        margin-right: 5%;
    }
}